<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="UiPath.System.Activities" version="22.10.3" targetFramework="net462" />
  <package id="UiPath.UIAutomation.Activities" version="22.10.3" targetFramework="net462" />
  <package id="UiPath.WebAPI.Activities" version="1.13.1" targetFramework="net462" />
  <package id="UiPath.Excel.Activities" version="2.16.1" targetFramework="net462" />
  <package id="UiPath.DataTable.Activities" version="1.12.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net462" />
</packages>
